:root {
	--bg: #001236;
	--font: white;
	--font-secondary: #8AB0D2;
	--primary: #1260CC;
	--input: #031B43;
	--tab-link: #003972;
	--link: #0065FF;
	--regular: 400;
	--medium: 500;
	--demiBold: 587;
	--bold: 700;
}
