@font-face {
  font-family: 'TT Hoves Pro';
  src: url('../fonts/TTHovesProRegular.woff2') format('woff2'),
       url('../fonts/TTHovesProRegular.woff') format('woff'),
       url('../fonts/TTHovesProRegular.ttf') format('ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'TT Hoves Pro';
  src: url('../fonts/TTHovesProMedium.woff2') format('woff2'),
       url('../fonts/TTHovesProMedium.woff') format('woff'),
       url('../fonts/TTHovesProMedium.ttf') format('ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'TT Hoves Pro';
  src: url('../fonts/TTHovesProDemiBold.woff2') format('woff2'),
       url('../fonts/TTHovesProDemiBold.woff') format('woff'),
       url('../fonts/TTHovesProDemiBold.ttf') format('ttf');
  font-style: normal;
  font-weight: 587;
}

@font-face {
  font-family: 'TT Hoves Pro';
  src: url('../fonts/TTHovesProBold.woff2') format('woff2'),
       url('../fonts/TTHovesProBold.woff') format('woff'),
       url('../fonts/TTHovesProBold.ttf') format('ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Wadik';
  src: url('../fonts/Wadik.woff2') format('woff2'),
       url('../fonts/Wadik.woff') format('woff'),
       url('../fonts/Wadik.ttf') format('ttf');
  font-style: normal;
  font-weight: 700;
}
